/* Defaults */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: teal;
}

/* Classes */

.bg-blue-10 {
  background-color: aliceblue;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-screen {
  height: 100vh;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.text-black {
  color: black;
}

.text-center {
  text-align: center;
}
